head
  title MeteorDemo20141206

body
  //- {{> main}}
  +main 

//- <template name="main"></template>
template(name="main")
  h2 Hello Main Template!
  h2 strData: {{strData}}
  h2 numData: {{numData}}
  h2 dateData: {{dateData}}
  h2 arrData: {{arrData}}
  h2 objData: {{objData}}
  