head
  title MeteorDemo20141206

template(name="layout")
  h2 "I am Layout's Nav. Bar!"
  hr
  //- {{> yield}}
  +yield
  hr

template(name="index")
  h2 I am index template!
  hr
  +loginButtons
  h2 Create Chatroom:
  input.chatroomName
  hr
  each chatrooms
    hr
    h2 ID: {{_id}} 
    h2 Name: {{name}} 
    h2 Creator: {{creator}}
    hr

template(name="chatroom")
  hr
  h2 ID: {{meta._id}} 
  h2 Name: {{meta.name}} 
  h2 Creator: {{meta.creator}}
  hr


//- body
//-   //- {{> main}}
//-   +main 

//- <template name="main"></template>
template(name="main")
  hr
  h2 Chatroom:
  +loginButtons
  h2 text:
  input.text

  each chats
    hr
    h2 {{author}}: {{text}} 
    p {{postAt}}
    hr  

  
