head
  title MeteorDemo20141206

//- body
//-   //- {{> main}}
//-   +main 

//- <template name="main"></template>
template(name="main")
  hr
  h2 Chatroom:
  +loginButtons
  h2 text:
  input.text

  each chats
    hr
    h2 {{author}}: {{text}} 
    p {{postAt}}
    hr  

  
