head
  title MeteorDemo20141206

body
  //- {{> main}}
  +main 

//- <template name="main"></template>
template(name="main")
  hr
  h2 Chats:
  each chats
    hr
    h2 {{author}}: {{text}}
    hr  

  
